{% extends 'base.html.twig' %}

{% block title %}sym | Mes ingrédients{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Mes ingrédients</h1>
        {% for message in app.flashes('success') %}
            <div class="alert mt-4 alert-dismissible alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="count">
            <span class="badge bg-dark"> Il y a {{ ingredients.getTotalItemCount }} ingrédients au total</span>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de création</th>
                <th scope="col">Edition</th>
                <th scope="col">Suppression</th>
            </tr>
            </thead>
            <tbody>
                {% for ingredient in ingredients %}
                    <tr class="table-danger">
                        <th scope="row">{{ ingredient.id }}</th>
                        <td>{{ ingredient.name }}</td>
                        <td>{{ ingredient.price }}</td>
                        <td>{{ ingredient.createdAt|date('d/m/Y') }}</td>
                        <td><a href="{{ path('ingredient.edit', { id: ingredient.id}) }}" class="btn btn-info">Modifier</a></td>
                        <td><a href="{{ path('ingredient.delete', { id: ingredient.id}) }}" class="btn btn-info">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(ingredients) }}
        </div>
    </div>
{% endblock %}
